<configuration>
    <!--statusListener class="ch.qos.logback.core.status.NopStatusListener" -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.directory:-./}kapenta.log</file>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss}] %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>kapenta.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 500MB total size -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.pentaho.reporting" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="spark.http" level="WARN" />

    <root level="${logging.rootLevel:-INFO}">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>