<configuration>
    <!-- Get the REPORTING_HOME property from the system -->
    <property scope="system" name="REPORTING_HOME" value="" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${REPORTING_HOME:-./}server.log</file>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss}] %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>server.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 500MB total size -->
            <maxHistory>30</maxHistory>
            <maxFileSize>500MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> -->
    <appender name="PENTAHO" class="ch.qos.logback.core.FileAppender">
        <file>${REPORTING_HOME:-./}pentaho.log</file>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm:ss}] %logger{36} [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.pentaho.reporting" level="WARN" additivity="false">
        <appender-ref ref="PENTAHO" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>